<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.venture.vebschool">

    <application
        android:allowBackup="true"
        android:icon="@drawable/veb_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Teacher.Teacher_Main"
            android:label="@string/title_activity_teacher__main"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Teacher.Teacher_Main"
            android:label="@string/title_activity_teacher__main"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".Parent.MenuActivities.HomeWork.HomeWorkActivity" />
        <activity android:name=".Parent.MenuActivities.Holiday.HolidayActivity" />
        <activity android:name=".Parent.MenuActivities.News.NewsActivity" />
        <activity android:name=".Parent.MenuActivities.Event.EventActivity" />
        <activity android:name=".Parent.MenuActivities.Exam.ExamActivity" />
        <activity android:name=".Parent.MenuActivities.Message.MessageActivity" />
        <activity android:name=".Parent.MenuActivities.TimeTable.TimetableActivity" />
        <activity android:name=".Parent.MenuActivities.Mark.MarkActivity" />
        <activity android:name=".Parent.MenuActivities.Attendance.AttendanceActivity" />
        <activity android:name=".Parent.MenuActivities.Student.StudentActivity" />
        <activity android:name=".Parent.Submenu.SettingsActivity" />
        <activity android:name=".Parent.Submenu.ProfileActivity" />
        <activity android:name=".Parent.MenuActivities.Student.StudentDetails" />
        <activity android:name=".Parent.MenuActivities.Mark.StudentMarkDetails" />
        <activity android:name=".Parent.MenuActivities.TimeTable.TimeTableDetails" />
        <activity android:name=".Parent.MenuActivities.Message.ChatList" />
        <activity android:name=".Parent.MenuActivities.Message.AddContact" />
        <activity android:name=".Parent.MenuActivities.Exam.ExamDate" />
        <activity android:name=".Parent.MenuActivities.Event.EventDetails" />
        <activity android:name=".Parent.MenuActivities.News.NewsData" />
        <activity android:name=".Parent.MenuActivities.Holiday.HolidayDates" />
        <activity android:name=".Parent.MenuActivities.Subject.SubjectActivity" />
        <activity android:name=".Parent.MenuActivities.Subject.Subjectdetails" />
        <activity android:name=".Parent.MenuActivities.HomeWork.HomeWorkDetails" />
        <activity android:name=".Parent.MenuActivities.HomeWork.HomeworkData" />
        <activity android:name=".Parent.MenuActivities.Leave.LeaveActivity" />
        <activity android:name=".Parent.MenuActivities.Leave.LeaveDetails" />
        <activity android:name=".Parent.MenuActivities.Leave.LeaveApplication" />
        <activity android:name=".Parent.MenuActivities.Assignment.AssignmentActivity" />
        <activity android:name=".Parent.MenuActivities.Assignment.AssignmentDetails" />
        <activity android:name=".Parent.MenuActivities.Assignment.AssignmentData" />
        <activity android:name=".Parent.MenuActivities.Complaint.ComplaintActivity" />
        <activity android:name=".Parent.MenuActivities.Complaint.ComplaintDetails" />
        <activity android:name=".Parent.MenuActivities.Attendance.AttendanceGraph" />
        <activity android:name=".Parent.MenuActivities.Attendance.NormalAttendance" />
        <activity android:name=".Parent.MenuActivities.Mark.ViewMark" />
        <activity android:name=".Parent.MenuActivities.Mark.CompareMark" />
        <activity android:name=".Teacher.TeacherSubMenu.TeacherProfile"/>
        <activity android:name=".Teacher.TeacherSubMenu.TeacherSettings"/>
        <activity
            android:name=".Login"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitySplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Parent.Home"
            android:label="Home" />
    </application>

</manifest>